body{
    background-color:hsl(210, 46%, 95%);
    
}

.main{
    display: flex;
    justify-content: center;
    align-items:center;
    height:730px;
}

.container{
    display:grid;
    grid-template:repeat(2,300px) / repeat(4,300px);
    gap:20px;
    grid-auto-flow:dense;
    justify-content: center;
    align-items: center;
    
}

.review-1{
    background-color:hsl(263, 55%, 52%);
    border-radius: 7px;
    grid-column: 1/3;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:top;
    
}

.review-2{
    background-color:hsl(217, 19%, 35%);
    border-radius: 7px;
    
}

.review-3{
    background-color:hsl(0, 0%, 100%);
    border-radius: 7px;
    grid-column: 4;
    grid-row: 1 / span 2;
}

.review-4{
    background-color:hsl(0, 0%, 100%);
    border-radius: 7px;
}

.review-5{
    background-color:hsl(219, 29%, 14%);
    border-radius: 7px;
    color:white;
    grid-column: 2/4;
}

.profile-details{
    display:flex;
    flex-direction:row;
    gap:15px;
    margin:20px;
    justify-content: flex-start;
    
}

.profile-image{
    border: hsl(0, 0%, 81%) 2px solid;
    border-radius: 50px;
    width: 35px;
    height:35px;
}

.profile-title{
    display: flex;
    flex-direction:column;
    gap:5px;
    margin-top:2px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.profile-name{
    margin:0px;
    font-size:11px;
    font-weight:600;
}

#profile-name{
    color:white;
}

#profile-status{
    color:hsl(0, 0%, 81%);
}

.card-body{
    margin:20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.card-title{
    font-size:22px;
    font-weight: 600;
    color: white;
    margin:0px;
}

.card-description{
    font-size:16px;
    font-weight: 600;
    color: hsl(0, 0%, 81%);
}

.white-card-title{
    color: black;
}

.white-card-desc{
    color:hsl(217, 19%, 35%);
}

.attribution{
    text-align: center;
}

@media screen and (max-width:1270px){
    .main{
        height:auto;
        align-items:start;
        margin-bottom: 40px;
    }

    .container{
        
        grid-template:repeat(5,1fr) / repeat(1,1fr);
        align-items: normal;
        height:auto;
        
    }

    .review-1{
        grid-column: 1/1;
        grid-row:1/1;
        height:auto;
    }

    .review-2{
        grid-column: 1/1;
        grid-row:2/2;
        height:auto;
       
    }

    
    
    
    .review-3{
        grid-column: 1/1;
        grid-row:5/5;
        height:auto;
    }

    .review-4{
        grid-column:1/1;
        grid-row:3/3;
        height:auto;
    }
    
    
    
    .review-5{
        
        grid-column: 1/1;
        grid-row:4/5;
        height:auto;
    }
      
}

